@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "notyf.min.css";
@import "dt.css";
@import "img-sides.css";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.App img {
  display: inline;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  height: 100%;
  width: 100%;
}

.img-container {
  position: relative;
  text-align: center;
  height: 60vh;
}

.slider {
  overflow: hidden;
  /*margin-top: 0.4rem;*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*height: 50vh;*/
}

@media (min-width: 480px) {
  .slider {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.slider *:focus {
  outline: 0;
  overflow: hidden;
}

.info-box {
  text-align: center;
  border-top-color: #6c6a4a;
  border-top-style: solid;
  border-top-width: 3px;

  border-bottom-color: #6c6a4a;
  border-bottom-style: solid;
  border-bottom-width: 3px;

  background-color: rgba(214, 212, 146, 0.5);
  padding: 1rem;
}
