.left-side {
  /*outline: #ffad00 2px solid;*/
  position: absolute;
  width: 50%;
  height: 100%;

  /*background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 100%);*/
  /*opacity: 0;*/
  /*transition: all 0.2s;*/
  z-index: 5;
}

.right-side {
  z-index: 4;
  /*outline: blue 2px solid;*/
  position: absolute;
  width: 100%;
  height: 100%;

  /*opacity: 0;*/
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.4) 100%);*/
  /*transition: all 0.2s;*/
}
